@function is-number($value) {
  @return type-of($value) == "number";
}

@function mget($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

@function grid($column, $columns: 12) {
  @return ($column / $columns) * 100%;
}

@function getRem($size) {
  @if (is-number($size) and index("px", unit($size))) {
    $value: ($size / $baseUnit);
    @return #{$value}rem;
  } @else {
    $value: ($size * 1px / $baseUnit);
    @return #{$value}rem;
  }
}
