// ------------------------------<
// LAYOUT
@mixin queries($breakpoint) {
  @media screen and (min-width: mget($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin middleAbs($index: 0) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @if ($index != 0) {
    z-index: $index;
  }
}

@mixin position($type, $top: n, $right: n, $bottom: n, $left: n, $index: 0) {
  position: $type;
  @if ($top != n) {
    top: $top;
  }
  @if ($right != n) {
    right: $right;
  }
  @if ($bottom != n) {
    bottom: $bottom;
  }
  @if ($left != n) {
    left: $left;
  }
  @if ($index != 0) {
    z-index: $index;
  }
}
// ------------------------------<

// ------------------------------<
// TYPOGRAPHY
@mixin fontStyle($size: 0, $color: 0, $weight: 0, $align: 0, $spacing: 0) {
  @if (
    $size !=
      0 and
      type-of($size) ==
      "number" and
      index("px" "em" "ex" "ch" "rem" "vw" "vh" "vmin" "vmax", unit($size)) !=
      null
  ) {
    font-size: $size;
  } @else if($size != 0) {
    font-size: $size * 1rem;
  }

  @if ($color != 0) {
    color: $color;
  }
  @if ($weight != 0) {
    font-weight: $weight;
  }
  @if ($align != 0) {
    text-align: $align;
  }
  @if ($spacing != 0) {
    letter-spacing: $spacing / 10 * 1rem;
  }
}
// ------------------------------<

// ------------------------------<
// OTHERS
@mixin no-scrollbar() {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin custom-scrollbar() {
  &::-webkit-scrollbar {
    width: 1rem;
    background-color: #08001a;
  }

  &::-webkit-scrollbar-track {
    background-color: #08001a;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #0729a3;
  }

  &::-webkit-scrollbar-corner {
    background-color: #08001a;
  }
}

@mixin ellipsis($max-width: 100%) {
  max-width: $max-width;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin border(
  $border-top: 0,
  $border-right: 0,
  $border-bottom: 0,
  $border-left: 0,
  $border-style: $BORDER__BASE__STYLE,
  $border-color: $BORDER__BASE__COLOR,
  $border-radius: -1
) {
  border-width: $border-top $border-right $border-bottom $border-left;
  border-style: $border-style;
  border-color: $border-color;
  @if ($border-radius != -1) {
    border-radius: $border-radius * 1rem;
  }
}
// ------------------------------<

// ------------------------------<
// VENDORS
// ------------------------------<
