// ------------------------------<
// RESET
// --$> units
$baseUnit: 10;
$baseHTMLUnit: $baseUnit * 1px;
$baseBODYUnit: $baseUnit * 1.6px;
// ------------------------------<

// ------------------------------<
// LAYOUT
$sitePadding: 0.85rem;
$siteXPadding: 0 0.85rem;
$siteYPadding: 0.85rem 0;
$siteLayoutPadding: 2.55rem 0;

$siteMargin: 0.85rem;
$siteXMargin: auto 0.85rem;
$siteYMargin: 0.85rem auto;
$siteLayoutMargin: 2.55rem auto;

//--$> queries
$breakpoints: (
  "small": 0,
  "medium": 0,
  "large": 0,
  other: (),
);
// ------------------------------<

// ------------------------------<
// TYPOGRAPHY

// ------------------------------<

// ------------------------------<
// COLORS
//--$> default theme
// === Primary, secondary, completive, text, contrast
$_DEFAULT__THEME__1-hex: #ffffff;
$_DEFAULT__THEME__2-hex: #2c6974;
$_DEFAULT__THEME__3-hex: #3ea2ff;
$_DEFAULT__THEME__4-hex: #333;
$_DEFAULT__THEME__5-hex: #ddd;

$pColor: $_DEFAULT__THEME__1-hex;
$sColor: $_DEFAULT__THEME__2-hex;
$ctColor: $_DEFAULT__THEME__3-hex;
$tColor: $_DEFAULT__THEME__4-hex;
$cColor: $_DEFAULT__THEME__5-hex;

//--$> others
// === Form colors
$validColor: rgb(18, 175, 18);
$invalidColor: rgb(189, 36, 16);
$checkColor: rgb(126, 113, 113);

// === shadow
$shadowColor: darken($_DEFAULT__THEME__1-hex, 15);
// ------------------------------<

// ------------------------------<
// OTHERS
// --$> mixins
// === border
$BASE__BORDER__COLOR: $shadowColor;
$BASE__BORDER__STYLE: solid;
// ------------------------------<

// VENDORS
//--$> plumber vendor values
// === baseline for lato
$plumberLatoBaseline: 0.113;
$plumberLatoGridHeight: 1.6rem;
// ------------------------------<
